<div class="faq-wrapper">
    
    <div class="faqQuestions-wrapper col">
        <div class="faqTitle">HOW DO YOU KNOW THAT OUR CLASSES ARE PERFECT FOR YOUR CHILD?</div>
        <div class="faq col">
            <div class="question-wrapper row">
                <div class="question">Text</div>
                <div class="answerBtn">+</div>
            </div>
            <div class="question-wrapper row">
                <div class="question">Text</div>
                <div class="answerBtn">+</div>
            </div>
            <div class="question-wrapper row">
                <div class="question">Text</div>
                <div class="answerBtn">+</div>
            </div>
            <div class="question-wrapper row">
                <div class="question">Text</div>
                <div class="answerBtn">+</div>
            </div>
        </div>
    </div>
</div>