<footer class="footer row">
    <div class="contacts-wrapper col">
        <div class="title">Contacts</div>
        <div class="contacts col">
            <div class="contactsItem telephone">Tel.</div>
            <div class="contactsItem email">Email</div>
            <div class="contactsItem adress">Adress</div>
        </div>
        <nav class="social row">
            <a class="socialLogo" href="">
                <img class="socialItem" src="../../../assets/logos/instagram.png" alt="instagram logo">
            </a>
            <a class="socialLogo" href="">
                <img class="socialItem" src="../../../assets/logos/facebook.png" alt="facebook logo">
            </a>
            <a class="socialLogo" href="">
                <img class="socialItem" src="../../../assets/logos/whatsapp.png" alt="whatsapp logo">
            </a>
        </nav>
    </div>
    <div class="form-wrapper">
        <form class="form col" action="post" method="post">
            <input id="POST-email" type="email" name="email" placeholder="Your Email"/>
            <input id="POST-name" type="text" name="name" placeholder="Your Name"/>
            <input id="POST-phone" type="tel" name="phone" placeholder="Your Phone No"/>
            <textarea name="question" cols="40" rows="8" placeholder="Ask Us anything"></textarea>
            <button class="submit" type="submit">Get In Touch</button>
        </form>
    </div>
</footer>