<header class="header">
    <nav class="navigation grid">
        <img class="logo" src="../../../assets/logos/WIMchess.svg" alt="logo">

        <nav class="pageNavigation">
            <a class="navigationItem home">Home</a>
            <div class="navigationItem lessons dropdown">
                Lessons
                <div class="dropdownContent">
                    <a href="">Online private lessons</a>
                    <a href="">In person private lessons (Miami)</a>
                    <a href="">Group online classes</a>
                </div>
            </div>
            <a class="navigationItem lessons">Online Tournaments</a>
            <a class="navigationItem contact">Contact</a>
            <div class="navigationItem aboutUs dropdown">
                About us
                <div class="dropdownContent">
                    <a href="">About us</a>
                    <a href="">Our team</a>
                </div>
            </div>
            <div class="navigationItem learn dropdown">
                Learn
                <div class="dropdownContent">
                    <a href="">Books</a>
                    <a href="">Blog</a>
                </div>
            </div>
        </nav>

        <nav class="social grid">
            <a class="socialLogo" href="">
                <img class="socialItem" src="../../../assets/logos/instagram.png" alt="instagram logo">
            </a>
            <a class="socialLogo" href="">
                <img class="socialItem" src="../../../assets/logos/facebook.png" alt="facebook logo">
            </a>
            <a class="socialLogo" href="">
                <img class="socialItem" src="../../../assets/logos/whatsapp.png" alt="whatsapp logo">
            </a>
        </nav>
    </nav>
</header>