<div id="aboutUs" class="purplebgc row">
    <div class="aboutSchool col">
        <div class="title">ABOUT OUR SCHOOL</div>
        <div class="description">POLICY ON ETHICAL CONDUCT OF INSTRUCTIONAL PERSONNEL AND SCHOOL ADMINISTRATORS
             WORKPLACE STANDARD AND POLICES ETHICAL CONDUCT OF INSTRUCTIONAL PERSONNEL AND SCHOOL ADMMINISTRATORS.   As
            a representative of the school personnel and administrators must demonstrate and uphold standards of ethical
            conduct both in and outside of the classroom. As a school employee and a role model o students,
            instructional personnel and school administrators have a duty, at all times, to: Abide by the Code of Ethics
            of the Education Profession in Florida (Rule 6B-1.001, F.A.C.) 1. The educator value ...
        </div>
        <div class="readMore">
            READ MORE
        </div>
    </div>

    <div class="aboutUsImg">

    </div>
        
</div>