<div class="signUp-wrapper">
    
    <div class="gradient">
        <div class="signUp row" >
            <div class="arrow Left middle">
    
            </div>
    
            <div class="signUpText col">
                <div class="signUpTitle">headline</div>
                <div class="signUpDescription">TEXT</div>
                <div class="signUpBtn">Sing up for class today</div>
            </div>
    
            <div class="arrow Right middle" >
    
            </div>
        </div>
    </div>
</div>